{% extends "base.html" %}

{% block title %}
User Points
{% endblock %}

{% block css %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #d9b99b;
    }
    #points-list {
        width: 60%;
        margin: 0 auto;
        margin-top: 50px;
    }
    #points-list li {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        background-color: #fec89a;
    }
    #points-list li strong {
        font-size: 1.2em;
        color: #333;
    }
    #points-list li small {
        font-size: 0.8em;
        color: #999;
    }
</style>
{% endblock %}

{% block main %}
<h1>Your Points</h1>
<ul id="points-list">
    {% for point in points %}
        <li id="point-{{ point.id }}">ID: {{ point.id }}, Status: {{ point.color }}</li>
    {% endfor %}
</ul>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvrTktUHXpKWzOO6cyMC6aSC24-OrcyYI&callback=initMap" async defer></script>
<script>
    function geocodeLatLng(geocoder, lat, lng, callback) {
        var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
        geocoder.geocode({'location': latlng}, function(results, status) {
            if (status === 'OK') {
                if (results[0]) {
                    callback(results[0].formatted_address);
                } else {
                    callback('No results found');
                }
            } else {
                callback('Geocoder failed due to: ' + status);
            }
        });
    }

    function initMap() {
        var geocoder = new google.maps.Geocoder;
        {% for point in points %}
            geocodeLatLng(geocoder, {{ point.latitude }}, {{ point.longitude }}, function(address) {
                var pointElement = document.getElementById("point-{{ point.id }}");
                pointElement.innerHTML += ", Address: " + address;
            });
        {% endfor %}
    }
</script>
{% endblock %}
